@import "./components/index.pcss";


.container {
  @media (min-width: theme('screens.xl')) {
    max-width: 1200px;
  }
}

.underline-thickness-0.5 {
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}
