@import './components/index.pcss';

.container {
  @media (min-width: theme('screens.xl')) {
    max-width: 1143px;
  }
}

.header-index {
  @media (min-width: theme('screens.xl')) {
    max-width: 1440px;
  }
}

.underline-thickness-0.5 {
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}
