.btn{
  @apply inline-block text-black h-[42px] leading-[42px] text-center;
}

.btn-square {
  @apply w-[42px];
}

.btn-block {
  @apply w-full block;
}

.btn-landing {
  @apply bg-solana text-white font-bold;

  transition: background-color 150ms;

  &:hover{
    @apply bg-transparent bg-none text-magenta ring-1 ring-magenta ring-inset;
  }
}
